#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Remove table outline */
.ag-theme-material .ag-root-wrapper {
  border: none;
}

/* Remove cell borders */
.ag-theme-material .ag-cell {
  border: none;
  border-left: 0cap;
}

/* Optional: Add more spacing between rows */
.ag-theme-material .ag-row {
  margin-bottom: 5px;
}

.ag-theme-material .ag-sort {
  border: none;
  border-color:aqua;
}



.Header table {
  width: 700px;
  border-collapse: collapse;
  margin-top: 10px;
}

.TodoList table {
  width: 550px;
  height: 70px;
  padding: auto;
  margin-top: 12px;
  margin-bottom: 10px;
  background-color: white;
  vertical-align: middle;
  border: 1px solid black;
 

}

.TodoTable table {
  width: 550px;
  align-items: center;
  text-align: center;
  align-content: center;

  margin-right: 10px;
  border: px solid rgb(221, 221, 221);
  border-bottom: 0cap;
  border-top: 0px;
  padding: 6px;
}

.TodoTable {
  display: flex;
  justify-content: center;
  border-bottom: 0cap;
}

.vertical-center {
  vertical-align: middle;
  height: 70px;
}

.border-text {
  position: absolute;
  top: -11px;
  left: 5px;
  background-color: white;
  padding: 0 5px;
  font-weight: normal;
}

.button-adjust {
  margin: 2px;
  padding: 6px;
}

.table-container {
  position: relative;
}

.TodoTable table th,
table td {
  border: 1px solid rgb(221, 221, 221);
  border-left: 0cap;
  border-right: 0cap;
  border-top: 0px;

  padding: 6px;
}

.right-border-column {
  border-left: 2px solid white;
}

.delete-colum {
  width: 50px;
}

.date-column {
  width: 90px;
  border-left: 2px solid white;
}

.TodoList-table-bottom {
  border-bottom: 0cap;
}